/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE STYLES */
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

/* LINKS */
a {
  text-decoration: none;
  color: inherit;
}

/* BUTTON */
button {
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 8px 24px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
